
<footer class="vote-footer fixed-bottom" style="margin-left:auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2023 VitieSystem. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-right">
                <ul class="footer-links">
                    <ul class="footer-links">
                        <li><button type="button" class="btn btn-outline-info btn-sm">About</button></li>
                        <li><button type="button" class="btn btn-outline-secondary btn-sm">Terms of Service</button></li>
                        <li><button type="button" class="btn btn-outline-secondary btn-sm">Privacy Policy</button></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</footer>
@code {

}
