<header class="vote-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="d-flex justify-content-center align-items-center">
                <h1 class="title font-effect-fire">Votie</h1>
            </div>
        </div>
    </div>
</header>

@code {

}