@page "/"

<PageTitle>HomePage</PageTitle>

<div class="text-center">
<h1 style="font-family: 'Curlz MT'">Hello, this is Votie!</h1>

<img src="https://powerlanguage.net/wp-content/uploads/2019/09/welcome-300x129.jpg" > <p style="font-size: 26px">to our newly created app, which help people with an online voting. </p>
</div>


